langchain 
backoff 
cohere 
tiktoken 
openai 
requests 
python-docx 
pdfplumber 
pandas
docx2txt
langchain
PyPDF2
neo4j
pypdf
langchain_together
reportlab
faiss-cpu 
sentence-transformers 
InstructorEmbedding==1.0.1